{% extends "blat/master.html" %}
{% load humanize %}

{% block title %}Blather Home{% endblock %}
{% block content %}
	{% if blat_list %}
		<dl>
		{% for blat in blat_list %}
			<dt>{{ blat.text }}</dt>
			<dd><a href="{% url 'detail' pk=blat.id %}">
					{{ blat.created_on | naturaltime }}
				</a>@ created by {{ blat.created_by }}
				{% if blat.via %}
					<a href="{{blat.via}}">/via</a>
				{% endif %}
				{% if blat.created_by == user %}
					<a href="{% url 'editblat' pk=blat.id %}">[edit]</a>
				{% endif %}
			</dd>
		{% endfor %}
	    </dl>
	{% else %}
		There is no blat yet.
	{% endif %}
{% endblock %}